body {
  background-color: #f8f3ed;
}
.perfil{
  width: 20%;
  float: left;
}
.botonera-navegación{
  margin-left: 50px;
}
#picture{
  margin: 50px 100px 20px 80px;
  width: 380px;
  height: 240px;
}
.cuerpo{
  width: 80%;
  float: right;
}
.primera-sección{ /* Primera parte de la presentación */
  background-color: white;
  margin: 20px 90px 5px 100px;
  padding: 20px;
  border-radius: 7px 7px 7px 7px;
}
.botonera{
  color: #FF8C00;
}
#título-principal h3{ /* Título: Quien soy*/
  color: #00d58f;
  text-decoration: underline;
}
#título-principal h1{ /* Nombre Completo */
   color: #000099;
   font-family: Garamond, serif;
   font-size: 38px;
}
#título-principal h4{ /* Front-End Jr.*/
  color: #FF8C00;
  font-size: 18px;
}
#datos_personales li { /* elementos de la lista personales*/
  font-family: Verdana, sans-serif;
  padding: 5px;
  border-bottom: 1px dotted #FF8C00;
}
li.personal-data{
  color: #4d2600;
}
p.primer-texto{
  color: #4d2600;
}
.Formación{ /* Subparte 2: Formación / Estudios*/
  background-color: white;
  margin: 20px 90px 5px 100px;
  padding: 20px;
  border: 10px;
  border-radius: 7px 7px 7px 7px;
}
#Formación-titulo{
  font-size: 18px;
  color: #00d58f;
  text-decoration: underline;
}
h2.formación-sub{
  color: #FF8C00;
  font-size: 21px;
  padding: 5px;
}
p.formación-parf{
  font-size: 15px;
  color: #4d2600;
}
.Experiencia{ /* Subparte 3: Experiencia laobral*/
  background-color: white;
  margin: 20px 90px 5px 100px;
  padding: 20px;
  border: 10px;
  border-radius: 7px 7px 7px 7px;
}
#titulo-exp{
  font-size: 18px;
  color: #00e699;
  text-decoration: underline;
}
h2.experiencia-1{
  color: #FF8C00;
  font-size: 21px;
  padding: 5px;
}
p.experiencia-texto{
  color: #4d2600;
}
.portfolio{
  background-color: white;
  margin: 20px 90px 5px 100px;
  padding: 20px;
  border: 10px;
  border-radius: 7px 7px 7px 7px;
}
#Portfolio{ /* Título Portfolio */
  color: #FF8C00;
  text-decoration: underline;
}
li.elemento.proyectos{
  color: #4d2600;
}
