body {
  background-color: #fffaf0;
}
.perfil{
  width: 20%;
  float: left;
  margin-right: 5%;
}
.botonera-navegación li {  /* MEJORAR EL PADDING */
  background-color: #ffd480;
  padding: 5%;
  border: 1px solid #ffd480;
  margin: 2%;
  border-radius: 45px;
  font-family: 'Helvetica', sans-serif;
}
.cuerpo{
  width: 80%;
  float: right;
}
.primera-sección{ /* Primera parte de la presentación */
  background-color: white;
  margin: 8px;
  padding: 20px;
}
#título-principal h3{ /* Título: Quien soy*/
  color: #00e699;
  text-decoration: underline;
}
#título-principal h1{ /* Nombre Completo */
   color: #000099;
   font-family: Garamond, serif;
   font-size: 38px;
}
#título-principal h4{ /* Front-End Jr.*/
  color: #FF8C00;
  font-size: 18px;
}
#datos_personales{

}
#navegación {
  background-color:
}
#datos_personales li { /* elementos de la lista personales*/
  font-family: Verdana, sans-serif;
  padding: 5px;
  border-bottom: 1px dotted #FF8C00;
}
.formación{ /* Subparte 2: Formación / Estudios*/
  background-color: white;
  margin: 8px;
  border: 20px;
}
#Formación-titulo{
  font-size: 18px;
  color: #00e699;
  text-decoration: underline;
}
h2.formación{
  color: #FF8C00;
  font-size: 21px;
  padding: 5px;
}
p.formación{
  font-size: 16px;
  padding-bottom: 10px;
}
.Experiencia{ /* Subparte 3: Experiencia laobral*/
  background-color: white;
  margin: 8px;
  padding: 20px;
  border: 10px;
}
#titulo-exp{
  font-size: 18px;
  color: #00e699;
  text-decoration: underline;
}
h2.experiencia-1{
  color: #FF8C00;
  font-size: 21px;
  padding: 5px;
}
#Portfolio{ /* Cada proyecto terminado, subirlo acá */

  color: #FF8C00;
  text-decoration: underline;
  background-color: white;
  margin: 8px;
  padding: 20px;
}
